.blockContainerPage {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 grey;
  padding: 0 16px 50px 16px;
  @media (max-width: 600px) {
    & {
      padding: 0 10px 20px 10px;
    }
  }
}